body {
    min-height: 100vh;
    font-family: Inter, sans-serif;
    font-size: 1.125rem;
    --tw-text-opacity: 1;
    color: rgb(25 25 25 / var(--tw-text-opacity));
}
.heading {
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    line-height: 1;
}
.header{
  background-color: #eeeae4;
}
.dropdown-arrow::before {
  content: "";
  position: absolute;
  left: 12px; 
  top: -8px; 
  width: 0;
  height: 0;
  border-left: 8px solid transparent; 
  border-right: 8px solid transparent; 
  border-bottom: 8px solid rgb(255, 255, 255); 
}
.hover-fill-red {
  position: relative;
  overflow: hidden; 
  z-index: 1; 
}
.hover-fill-red::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red; 
  z-index: -1;
  transform: translateY(-100%); 
  transition: transform 0.3s ease-in-out; 
}
.hover-fill-red:hover::before {
  transform: translateY(0); 
  top: 0;
}
.group::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 50px;
}
/* hero */
.wow {
    visibility: hidden;
} 
.carousel{
  background-color: #eeeae4;
}
.rounded-bottom-corners {
  overflow: hidden; 
  position: relative;
  z-index: 1;
}
.bg-glow-gradient {
  background: radial-gradient(50% 50% at 50% 50%, #ff9831 0%, #fe330a 100%);
}
.glow-filter {
  filter: blur(55px);
}
.slick__library {
  display: flex !important;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
.animate-spin-14s {
  animation: spin 14s linear infinite;
}
.animate-spin-10s {
  animation: spin 10s linear infinite;
}
@media (max-width: 767px) {
  .slick__library .slick-track {
    display: flex !important;
  }

  .slick__library .slick-slide:last-child {
    margin-left: auto !important;
  }
}
/* end hero */