body {
    min-height: 100vh;
    font-family: Inter, sans-serif;
    font-size: 1.125rem;
    --tw-text-opacity: 1;
    color: rgb(25 25 25 / var(--tw-text-opacity));
}

.heading {
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    line-height: 1;
}

.font-dmSans {
  font-family: DM Sans, sans-serif;
}

/* Tạo mũi tên cho dropdown */
.header{
  background-color: #eeeae4;
}
.dropdown-arrow::before {
  content: "";
  position: absolute;
  left: 12px; 
  top: -8px; 
  width: 0;
  height: 0;
  border-left: 8px solid transparent; 
  border-right: 8px solid transparent; 
  border-bottom: 8px solid rgb(255, 255, 255); 
}
/* làm nút đổ màu khi hover button*/
.hover-fill-red {
  position: relative;
  overflow: hidden; 
  z-index: 1; 
}

.hover-fill-red::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red; /* Màu đỏ mà bạn muốn đổ vào */
  z-index: -1; /* Đặt lớp phủ (tấm màng) này NẰM DƯỚI chữ Login */
  
  
  /* Đặt trạng thái ban đầu: Dịch chuyển lên trên 100% chiều cao của nó */
  transform: translateY(-100%); 
  
  /* Thiết lập chuyển động mượt mà */
  transition: transform 0.3s ease-in-out; 
}
.hover-fill-red:hover::before {
  /* Dịch chuyển về vị trí ban đầu (lấp đầy nút) */
  transform: translateY(0); 
  top: 0;
}

/* Tạo khoảng trống giữa hộp dropdown và header */
.group::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 50px;
}
/* hero */
.wow {
    visibility: hidden;
} 
.carousel{
  background-color: #eeeae4;
}
.rounded-bottom-corners {
    overflow: hidden; 
    position: relative;
    z-index: 1;
}
.bg-glow-gradient {
  background: radial-gradient(50% 50% at 50% 50%, #ff9831 0%, #fe330a 100%);
}
.glow-filter {
  filter: blur(55px);
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.animate-spin-14s {
  animation: spin 14s linear infinite;
}
.animate-spin-10s {
  animation: spin 10s linear infinite;
}
.animate-pulse {
  animation: pulse 4s ease-in-out infinite;
}
/* end hero */